
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-v1-pal: (
  50: #ffb5a2,
  100: #ffb5a2,
  200: #ffb5a2,
  300: #ffb5a2,
  400: #ffb5a2,
  500: #ffb5a2,
  600: #ffb5a2,
  700: #ffb5a2,
  800: #ffb5a2,
  900: #ffb5a2,
  A100: #ffb5a2,
  A200: #ffb5a2,
  A400: #ffb5a2,
  A700: #ffb5a2,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-v2-pal: (
  50: #a2ecff,
  100: #a2ecff,
  200: #a2ecff,
  300: #a2ecff,
  400: #a2ecff,
  500: #a2ecff,
  600: #a2ecff,
  700: #a2ecff,
  800: #a2ecff,
  900: #a2ecff,
  A100: aliceblue,
  A200: #a2ecff,
  A400: #dbf8ff,
  A700: #62dffc,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$ng-blog-primary: mat-palette($mat-v1-pal);
$ng-blog-accent: mat-palette($mat-v2-pal, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-blog-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-blog-theme: mat-light-theme($ng-blog-primary, $ng-blog-accent, $ng-blog-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-blog-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
